* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  padding: 10px 10%;
  width: 100%;
  min-height: 100vh;
  background-color: gray;
  box-shadow: inset 0 0 10px rgb(107, 107, 107), inset 0 0 30px rgb(107, 107, 107), inset 0 0 70px rgb(107, 107, 107), inset 0 0 100px rgb(108, 108, 108);
}

.container {
  width: 100%;
  height: 100vh;
  background: whitesmoke;
  border-radius: 6px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  overflow: hidden;
}

.header {
  width: 100%;
  background-color: rgb(255, 144, 34);
  padding: 5px 20px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  color: whitesmoke;
  border-bottom: 1px solid rgb(255, 128, 0);
  box-shadow: inset 2px 2px 25px rgba(220, 110, 0, 0.758), inset -2px -2px 5px rgba(220, 110, 0, 0.967), inset 2px 2px 6px rgba(255, 255, 255, 0.2);
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  -webkit-text-stroke: 0.5px rgba(0, 0, 0, 0.3);
  border: 0.7px solid orange;
}

.boxes {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  margin-top: 10px;
  padding: 10px 30px;
}

.box {
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  width: calc(100% / 3);
  gap: 10px;
}

.label {
  color: rgb(255, 128, 0);
  -webkit-text-stroke: 0.2px rgba(0, 0, 0, 0.4);
}

select {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: whitesmoke;
  border: 1.2px solid orange;
  cursor: pointer;
  color: #222;
  transition: 0.3s;
}

select:active {
  box-shadow: 0 0 25px rgba(255, 166, 0, 0.526);
}

.secret {
  position: absolute;
  right: -29.8%;
  top: 0;
  width: 30%;
  height: 100vh;
  background-color: white;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  z-index: 1;
  box-shadow: -2px 2px 15px rgba(0, 0, 0, 0.12), inset -50px 80px 50px rgba(169, 110, 0, 0.1), inset -10px 0 15px rgba(0, 0, 0, 0.15);
  border-right: 1px solid white;
  transition: 0.3s ease;
}

.secret.active {
  right: 0;
}

.close {
  position: absolute;
  padding: 6px;
  background: white;
  left: 0;
  top: 30%;
  border-radius: 4px;
  transform: translateX(-80%);
  border-left: 1px solid rgba(0, 0, 0, 0.4);
  box-shadow: -5px 2px 5px rgba(0, 0, 0, 0.15), 3px 0 0 white;
  animation: shine 2s infinite alternate;
}

.icon {
  width: 20px;
  height: 20px;
  filter: brightness(0);
  cursor: pointer;
}

@keyframes shine {
  0% {
    box-shadow: 15px 0 2px white, -15px 0 15px rgba(255, 166, 0, 0.377), -15px 0 15px rgba(255, 166, 0, 0.428);
  }
  100% {
    box-shadow: 15px 0 2px white, -10px 0 15px rgba(255, 166, 0, 0.78), -15px 0 15px rgba(255, 166, 0, 0.776);
  }
}

.secret-content h3 {
  background-color: orange;
  padding: 20px 40px;
  box-shadow: inset 0 0 10px rgba(220, 110, 0, 0.758), inset 0 0 30px rgba(220, 110, 0, 0.758), inset -10px -2px 20px rgba(0, 0, 0, 0.15), inset 1px 1px 2px #222, inset -2px -2px 3px #fff;
  color: white;
  /* text-shadow: 0 0 10px rgba(0, 0, 0, 0.15); */
  text-shadow: 0 0 10px white, 0 0 25px white;
}

.secret-content ul {
  padding: 20px 40px;
  border-top: 1px solid rgba(255, 255, 255, 0.9);
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.secret-content ul li a {
  color: orange;
}

.footer {
  background-color: rgb(255, 144, 34);
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px 20px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom: 1px solid rgb(255, 128, 0);
  box-shadow: inset 2px 2px 25px rgba(220, 110, 0, 0.758), inset -2px -2px 5px rgba(220, 110, 0, 0.967);
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  border: 1px solid orangered;
}

.ls-none {
  list-style: none;
}

.link {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

span {
  text-shadow: 0 0 10px rgba(255, 166, 0, 0.526);
}

@media only screen and (max-width: 500px) {
  body {
    background-color: whitesmoke;
    padding: 20px 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  }

  .container {
    border: 1px solid orange;
  }

  .header {
    -webkit-text-stroke: 0.5px rgba(0, 0, 0, 0.1);
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: center;
  }

  .boxes {
    flex-direction: column;
    align-items: center;
    padding: 5px;
    margin: 0;
  }

  .box {
    width: 100%;
    margin: 5px;
    width: 100%;
  }

  .secret {
    width: 40%;
    right: -80%;
  }

  .footer {
    text-align: center;
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 600px) {
  body {
    background-color: whitesmoke;
    padding: 20px 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  }

  .container {
    border: 1px solid orange;
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  }

  .header {
    -webkit-text-stroke: 0.5px rgba(0, 0, 0, 0.1);
    text-align: center;
  }

  .boxes {
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
    margin: 0;
  }

  .secret {
    width: 80%;
    right: -80%;
  }

  .box {
    width: 100%;
    margin: 5px;
    width: 100%;
  }

  .footer {
    text-align: center;
    display: flex;
    flex-direction: column;
  }
}
